body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* les 2 trucs du dessus c'est pour tout aligner au centre de la page */
    height: 100vh;
    background-image:url('../img/night_sky.jpg');
}
p{
    color:red;
    align-self: center;
}

.form-container {
    /* classe container qui permet de faire le petit rectangle autour du formulaire */
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* espace entre le bas du titre et le formulaire */
}

label {
    font-size: 14px;
    color: #333;
}

input[type="text"], input[type="email"], input[type="password"] {
     /* les champs input excepté le bouton connexion */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    /* les champs input excepté le bouton connexion si jamais on écrit dedans*/
    border-color: #0066A2;
}

.form-submit-button {
    /* bouton connexion */
    background-color: #0066A2;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-submit-button:hover {
    background-color: #004d80;
}

@media (max-width: 480px) {
    /* responsive pcq on pense aux pauvres */
    .form-container {
        padding: 20px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        font-size: 14px;
    }

    .form-submit-button {
        font-size: 14px;
    }
}
