body main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0 auto;
    width: 70%;
    font-family: "Century Gothic", sans-serif;
}

/*-------------- Styles communs pour Header et Footer --------------*/
header, footer {
    background-color: lightgray;
    color: black;
    padding: 5px;
    font-family: "Century Gothic", sans-serif;
    text-align: center;
    border-radius: 10px;
}

header nav, footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    font-weight: bold;
}

header a, footer a {
    color: black;
    text-decoration: none;
    transition: 0.5s; /*Pour la transition en bleu et la taille des liens sur le header seulement, j'ai laissé la couleur sur le noir et la taille en normal pour le footer*/
}

header a:hover {
    text-decoration: underline;
    color: darkblue;
    font-size: larger;
    transition: 0.5s;
}

header img, footer img {
    width: 5em;
    margin-right: 15px;
}

/*-------------- Styles pour le formulaire d'ajout de catégorie --------------*/
form {
    margin: 20px 0;
    background-color: #fff; /* Couleur de fond du formulaire */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    margin-right: 10px; /* Espace entre le label et l'input */
    font-size: 1.2em;
    color: #212A45;
}

input[type="text"], input[type="search"] {
    padding: 10px;
    width: 50%; /* Ajusté pour le champ de texte */
    font-size: 1em;
    border: 2px solid #212A45; /* Couleur de la bordure */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-top: 10px;
}

input[type="text"]:focus, input[type="search"]:focus {
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    background-color: #f44336; /* Couleur du bouton */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    margin-top: 10px; /* Espace au-dessus du bouton */
}

button:hover {
    background-color: #d32f2f; /* Couleur au survol du bouton */
}

/*-------------- Styles pour les titres --------------*/
h1 {
    font-size: 2.5em;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #282d5c;
    width: 100%;
}

h2 {
    font-size: 2em;
    color: #444;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    transition: color 0.3s ease, transform 0.3s ease;
}
h2:hover {
    color: #d9641d;
    transform: scale(1.02);
    transition: color 0.3s ease, transform 0.3s ease;
}

/*-------------- Styles spécifiques pour le Footer --------------*/
footer {
    margin-top: auto; /* Aide à pousser le footer en bas */
}

footer p#droits-footer {
    margin: 0.5em;
    font-style: italic;
    font-size: 0.8em;
}

section {
    margin: 20px auto;
    padding: 15px;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section p {
    line-height: 1.6;
    color: #555;
    margin: 10px 0;
}

/*-------------- Styles généraux --------------*/
blockquote {
    font-style: italic;
    color: #777;
    border-left: 4px solid #d32f2f;
    padding-left: 10px;
    margin: 20px 0;
}

#animated-text {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/*-------------- Lien et article --------------*/
a {
    text-decoration: underline;
    transition: text-decoration-color 300ms;
}

a:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
}

/* Styles pour les titres de colonnes */
th {
    text-align: left; /* Aligne le texte à gauche */
    padding: 10px; /* Ajoute un peu d'espace autour du texte */
    background-color: #f0f0f0; /* Couleur de fond pour les titres (facultatif) */
    border-bottom: 2px solid #ccc; /* Ligne sous le titre (facultatif) */
}

table {
    margin-bottom: 10px;
}